[submodule "workflow/pypsa-earth"]
	path = workflow/pypsa-earth
	url = https://github.com/open-energy-transition/pypsa-earth.git
[submodule "workflow/pypsa-earth-sec"]
	path = workflow/pypsa-earth-sec
	url = https://github.com/open-energy-transition/pypsa-earth-sec.git
